*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
a{
    text-decoration: none;
}
ul{
	list-style-type: none;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.contaienr{
	width: 100%;
	height: auto;
}
.main{
	margin: 0 auto ;
	width: 1000px;
	height: 1830px;
}
.header{
	width: 100%;
	height: 550px;
}
.top{
	width: 100%;
	height: 120px;
	background: url(../img/images/bannerxxx_01.jpg)no-repeat;
	background-size: 100% 120px;
	position: relative;
}
.top p{
	position: absolute;
	left: 70%;
	top: 10%;
	line-height: 30px;
	color: #eef4fc;
}
.top span{
	color: #075bad;
}
nav{
	width: 100%;
	height: 48px;
	background-color: #1467b8;
}
.nav-content{
	width: 1100px;
	height: 48px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.nav-content ul{
	padding-left: 70px;
	height: 60px;
	position: absolute;
	top: -12px;
}
.nav-content li{
	float: left;
	font-size: 14px;
	height: 60px;
	line-height: 74px;

}
.nav-content a{
	display: block;
	height: 60px;
	line-height: 74px;
	padding: 0 15px;
	color: #fff;
}
.nav-content a:hover{
	background: url(../img/images/222_03.png) no-repeat;
	background-size: 100% 54px;
	background-position: 0 6px;
	height: 60px;
	line-height: 74px;
	
} 
.banner img{
	width: 100%;
}
.anniu{
	width: 77px;
	height: 26px;
	background-color: #ff891f;
	border: none;
	position: relative;
	top: 1px;
	border-radius:0 3px 3px 0 ;
}
.from{
	line-height: 46px;
	margin-right: 14px;
}
.skuang{
	width: 243px;
	height: 26px;
	border: 1px solid #cbcaca;
}
.gonggao{
	width: 1000px;
	height: 46px;
	background-image: url(../img/images/bbbgggggg_03.jpg);
	background-repeat: repeat-x;
}
.gonggao span{
	text-indent: 1em;
	font-size: 12px;
	font-family: "宋体";
	line-height: 46px;
}
.gonggao1{
	margin-top: 15px;
	width: 1000px;
	height: 262px;
	overflow: hidden;
}
.gonggao1>p{
	display: block;
	float: right;
	width: 713px;
	height: 201px;
	font-size: 12px;
	text-indent: 2em;
	line-height: 28px;
}
.gonggao1>p a{
	color: #ff1901;
}
article{
	margin-top: 15px;
	width: 246px;
	height: 236px;
	background-color: #0168cf;
	position:relative;
}
article dl{
	width: 218px;
	height: 45px;
	border-bottom: 1px dotted #2875bd;
}
article dl dt,article dl dd{
	float: left;
	color: #ffffff;
	font-size: 14px;
	line-height: 45px;
	text-align: center;
	width: 109px;
	height: 45px;
}
article span{
	text-indent: 2px;
	display: inline-block;
	font-size: 12px;
	margin-top: 12px;
	background-color: #0055a2;
}
article a{
	color: #ffffff;
}
section{
	position:absolute;
	top: -9px;
	left: 15px;
	color: #fefefe;
	font-size: 12px;
	line-height: 31px;
	text-align: center;
	width: 93px;
	height: 31px;
	background-color: #ff4e00;
}
.dldiv{
	padding-left: 13px;
    padding-top: 6px;
	width: 231px;
	height: 200px;
	clear: both;
}
.guanyu{
	width: 724px;
	height: 57px;
	background-image: url(../img/images/gonggbg_03.png) ;
	background-repeat: no-repeat;
	background-position: 137px center;
}
.guanyu p{
	display: inline-block;
	margin: 10px 0 0 5px;
	color: #004f9a;
}
.zihao{
	font-size: 12px;
}
.guansp{
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	line-height: 17px;
	width: 100px;
	height: 17px;
	background-color: #004f9a;
	color: #ffffff;
}
.guansp a{
	color: #ffffff;
}
.fuwu{
	margin-top: 28px;
	width: 1000px;
	height: 460px;
}
.fleft{
	width: 248px;
	height: 458px;
	border: 1px solid #cbcbcd;
}
.fleft td:nth-child(2n+1){
	width: 121px;
	height: 28px;
	text-align: center;
}
.fleft>p{
	display: block;
	line-height: 50px;
	width: 248px;
	height: 50px;
	text-indent: 18px;
	background-color: #0d60c0;
	color: #f4f7fb;
	font-size: 18px;
}
.fright{
	margin-left:23px ;
	width: 724px;
	height: 460px;
}
.fright dt,.fright dd{
	float: left;
}
.fright dt{
	padding-top: 10px;
	width: 28px;
	font-size: 20px;
}
.bj{
	margin: 0 18px;
}
.bb{
	margin-left:15px ;
}
.fright ul{
	padding-top: 5px;
	display: block;
	width: 332px;
	height: 128px;
	font-size: 12px;
	line-height: 28px;
}
.fright li{
	list-style-image: url(../img/images/ulbg_03.png);
	list-style-position: inside;
}
.fright li span{
	float: right;
}
.fright li a{
	color: #3a3939;
}
.ulxia{
	padding-top: 15px;
	width: 332px;
	height: 25px;
	overflow: hidden;
}
.ulxia span b{
	float: right;
	display: inline-block;
}
.ulxia span{
	width: 298px;
	height: 25px;
	border-bottom: 2px solid #e4e3e3;
}
.ulxia h4{
	display: inline-block;
	width: 96px;
	height: 25px;
	border-bottom: 2px solid #0165c7;
}
.yf{
	margin-right: 11px;
}
.zhansi{
	width: 1000px;
	height: 86px;
	background-image: url(../img/images/rrrrrrr_03.png) ;
	background-repeat: no-repeat;
	background-position: right center;
	position: relative;
}
.zhansi span{
	display: inline-block;
	margin: ;
	width: 80px;
	height: 20px;
	background-color: #004f9a;
    text-align: center;
	line-height: 20px;
	font-size: 12px;
	position:absolute;
	top: 30px;
	left: 160px;
}
.zhansi a{
	color: #ffffff;
}
.zhansi p{
	display: inline-block;
	position:absolute;
	top: 27px ;
	left: 70px;
	font-size: 18px;
	color: #004F9A;
}
.zhansi1 ul{
	padding-top: 4px;
    float: left;
    text-align: center;
	width: 214px;
	height: 188px;
	border: solid 1px #d8d8d8;
	margin-right: 39px;
}
.zhansi1 ul:last-child{
	margin-right: 0;
}
.zhansi1 li:nth-of-type(2){
	margin-top: 1px;
	width: 214px;
	height: 32px;
	line-height: 32px;
	background-color: #d8d8d8;
}
.zhansi1 a{
	color: #323232;
}
.news{
	clear: both;
	padding-top: 25px;
	width: 1000px;
	height: 320px;
}
.newsleft{
	width: 470px;
	height: 287px;
	border: 1px solid #cbcbcd;
}
.newsleft dt{
	width: 470px;
	height: 39px;
	color: #e9eef7;
	background-color: #0d60c0;
}
.newsright dt{
	width: 498px;
	height: 39px;
	color: #e9eef7;
	background-color: #0d60c0;
}
.newsleft dt a,.newsright dt a{
	color: #f4f7fb;
}
.newsleft h3,.newsright h3{
	display: inline-block;
	text-indent: 1em;
	line-height: 39px;
}
.newsleft span:nth-of-type(1),.newsright span:nth-of-type(1){
     margin-left: 10px;
     font-size: 14px;
}
.newsleft span:nth-of-type(2),.newsright span:nth-of-type(2){
	float: right;
	margin-right: 10px;
	font-size: 12px;
	line-height: 39px;
}
.newsleft dd{
	float: left;
	margin: 18px 0 3px 15px;
}
.newsleft li{
	margin: 0 0 0 15px;
	font-size: 12px;
	width: 440px;
	height: 30px;
	line-height: 30px;
	color:#404040;
	border-bottom: dotted 1px #adadad;
}
.newsleft li span{
	float: right;
}
.newsleft li a{
	color: #404040;
	font-size: 12px;
}
.newsright{
	width: 498px;
	height: 300px;
	border: 1px solid #cbcbcd;
}
.newsright dd{
	width: 499px;
	height: 86px;
}
.newsright dd span{
	display: inline-block;
	padding-left: 80px;
}
.ful{
	float: left;
	width: 156px;
	height: 172px;
    background-color: #d0e5fa;	
}
.ful li{
	width: 156px;
	height: 34px;
	line-height:34px;
	text-indent: 10px;
	font-size: 14px;
}
.ful li:nth-child(1),.ful2 li:nth-child(1){
	text-indent: 30px;
	font-size: 18px;
	margin-top:15px;
}
.ful2{
	float: left;
	width: 168px;
	height: 172px;
    background-color: #a7cbef;
}
.ful2 li{
	width: 156px;
	height: 34px;
	line-height:34px;
	text-indent: 15px;
	font-size: 14px;
}
.ful3{
	float: left;
	width: 174px;
	height: 172px;
    background-color: #d0e5fa;	
}
.ful3 li:nth-child(1){
	text-indent: 25px;
	font-size: 18px;
	margin-top:15px;
}
.ful3 li{
	width: 156px;
	height: 34px;
	line-height:34px;
	text-indent: 15px;
	font-size: 14px;
}
.hezuo{
	width: 1000px;
	height: 210px;
	border:  1px solid #cbcbcd;
}
.hezuo1{
	width: 1000px;
	height: 42px;
	background-image: url(../img/images/bbbgggggg_03.jpg);
	background-repeat:repeat-x ;
}
.hezuo1 p{
	float: left;
	width: 132px;
	height: 42px;
	background-image: url(../img/images/aaaaaa_07.jpg);
	background-repeat: no-repeat;
	color: #ffffff;
	line-height: 42px;
	text-align: center;
}
.hezuo1 span{
	display: inline-block;
	float:right;
	line-height: 42px;
	margin-right: 10px;
	color: #525254;
}
.biao{
	margin-left: 8px;
}
.youqing{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1000px;
	height: 139px;
	border:  1px solid #cbcbcd;
}
.youqing table a{
	color: #525254;
	font-size: 12px;
}
footer{
	width: 100%;
	height:254px ;
	background-color: #003e7b;
}
.xianav{
	width: 100%;
	height:45px ;
	background-color: #185ea4;
}
.xianav ul{
	margin: 0 auto;
	width: 1000px;
	height: 45px;
}
.xianav li{
	font-size: 14px;
	float: left;
	color: #ffffff;
	line-height: 45px;
}
.xianav a{
	display: inline-block;
    padding: 0 32px;
	height: 45px;
	color: #ffffff;
}
.diwenzi p{
	margin: 30px auto 15px;
	display: block;
	width: 917px;
	height: 90px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.yejiao{
	margin: 0 auto;
	width: 500px;
	height: 48px;
	font-size: 12px;
	background-color: #ffffff;
}
.yejiao img{
	margin: 0 5px;
	float: left;
}
.yejiao p{
	display: inline-block;
	text-align: center;
	margin-top: 8px;
	float: left;
}
.yejiao span{
	font-size:16px ;
	line-height: 48px;
}
.yejiao a{
	color: #333333;
}
